.controlBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #d7d7d7;
  padding: 8px;
  /* gap: 16px; */
  margin-bottom: 20px;
}

.year-section,
.week-section,
.start-section,
.status-section {
  display: flex;
  gap: 4px;
}

/* ================== */
/* FANCY VIEW-TOGGLER */
/* ================== */

.fill-button {
  position: relative;
  z-index: 0;
  overflow: hidden;

  padding: 0.5rem 0.75rem;
  border: 1px solid #d7d7d7;
  background: transparent;
  font: inherit;
  cursor: pointer;

  transition: color 0.3s ease;
}

.fill-button::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;

  background: #d7d7d7;
  transform: translateX(-100%);
  transition: transform 0.4s ease;
}

.fill-button:hover:not(:disabled),
.fill-button:focus-visible:not(:disabled) {
  color: white;
}

.fill-button:hover:not(:disabled)::before,
.fill-button:focus-visible:not(:disabled)::before {
  transform: translateX(0);
}

.fill-button:disabled {
  cursor: default;
  opacity: 0.55;
}

/* ========================= */
/* GRID, CELL, HEADER STYLES */
/* ========================= */

.schedule-grid {
  display: grid;
  grid-template-columns: minmax(150px, 220px) repeat(7, minmax(110px, 1fr));
  border-top: 1px solid #d7d7d7;
  border-left: 1px solid #d7d7d7;
  overflow-x: auto;
}

.header-cell,
.employee-cell,
.shift-cell {
  min-height: 42px;
  border-right: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
}

.employee-header {
  display: flex;
  align-items: center;
  padding: 10px;
}

.employee-cell {
  display: flex;
  align-items: center;
  background: #fff;
  font-weight: 500;
  padding: 10px;
}

.specific-date {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.shift-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.save-button {
  margin-top: 16px;
}

.hidden {
  display: none;
}

/* ================== */
/* SHIFT-CELL STYLING */
/* ================== */

.shift-cell {
  padding: 0 0.4rem;
  background-color: transparent;
  transition: background-color 0.15s ease;
}

.shift-cell:focus-within {
  background-color: #d7d7d7;
}

.shift-editor {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.shift-cell .shift-editor input {
  border: none;
  width: 38px;
  text-align: center;
  font-size: 1rem;
  padding: 5px 0;
  min-width: 0;
  outline: none;
  background: none;
}

/* ====================== */
/*    ACCORDION STYLES    */
/* ====================== */

.time-picker-accordion {
  grid-column: 1 / -1; /* span all 8 columns */
  padding: 10px;
  background: #d7d7d7;
}

.close-picker {
  background: none;
  border: 1px solid #ff2121;
  font-size: 18px;
  padding: 0.6rem;
  cursor: pointer;
  color: #ff2121;
  transition: color 0.3s ease;
}

.close-picker:hover {
  color: #fff;
  background: #ff2121;
}

.time-picker-values {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.time-option {
  padding: 0.6rem;
  border: 1px solid #d1d5db;
  background: #fff;
  cursor: pointer;
  font-size: 24px;
}

.time-option:hover {
  background: #f3f4f6;
}

/* =================== */
/* COOKIE EXPIRY TIMER */
/* =================== */

.demo-session-timer {
  border: 1px solid #d7d7d7;
  padding: 0.5rem 0.75rem;

  /* Fill animation */
  position: relative;
  z-index: 0;
  overflow: hidden;
  background: transparent;
  transition: color 0.4s ease;
}

.demo-session-timer::before {
  display: flex;
  align-items: center;
  justify-content: center;
  content: 'EXPIRY';
  position: absolute;
  inset: 0;
  z-index: -1;
  color: white;

  background: #d7d7d7;
  transform: translateX(-100%);
  transition: transform 0.4s ease;
}

.demo-session-timer:hover,
.demo-session-timer:focus-visible {
  color: transparent;
}

.demo-session-timer:hover::before,
.demo-session-timer:focus-visible::before {
  transform: translateY(0);
}

/* ============== */
/* RESPONSIVENESS */
/* ============== */

@media (max-width: 1450px) {
  .schedule-grid {
    grid-template-columns: max-content repeat(7, minmax(110px, 1fr));
  }

  .shift-editor input {
    min-width: 0;
    text-align: center;
    font-size: 0.9rem;
    width: 30px;
  }

  .time-option {
    font-size: 14px;
  }
}
